NODE_ENV=development
SESSION_SECRET=NOT_A_STRONG_SECRET

DEV_HOST_URL=http://localhost:3000
HOST_URL=http://localhost:3000

AUTH0_CLIENT_ID=***
AUTH0_AUDIENCE=***
AUTH0_DOMAIN=***

API_URL=***
VAULTA_API_URL=***

QUORE_HOST_URL=***
CUSTOS_HOST_URL=***
VAULTA_HOST_URL=***